.loader_container {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 241, 241);
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(226, 195, 157);
}